Repository magento/magento2-phpstorm-plugin, pull requests merged in 2020-05, with the labels that each got.

#242 Covered referenceContainer related functionality by tests
  gradle-tasks/pmd/ruleset.xml
  testData/completion/xml/LayoutContainerCompletionRegistrar/referenceContainerMustHaveCompletion/default.xml
  testData/project/magento2/vendor/magento/module-catalog/view/frontend/layout/test_index_index.xml
  testData/reference/xml/LayoutContainerReferenceRegistrar/referenceContainerMustHaveReference/default.xml
  tests/com/magento/idea/magento2plugin/completion/xml/LayoutContainerCompletionRegistrarTest.java
  tests/com/magento/idea/magento2plugin/reference/xml/LayoutContainerReferenceRegistrarTest.java
Labels: Award: test coverage, Partner: Atwix, Progress: review, partners-contribution

#246 FIX: adjust Magento version validation RegExp
  src/com/magento/idea/magento2plugin/util/RegExUtil.java
Labels: Community Insider: Magecom, Progress: review, community-insider-contribution

#238 #issue-203-204 Added test coverage for Class Preference generator and preference di.xml generator
  gradle-tasks/pmd/ruleset.xml
  testData/actions/generation/generator/PreferenceClassGenerator/generatePreferenceClassFile/SimpleModelOneOverride.php
  testData/actions/generation/generator/PreferenceClassGenerator/generatePreferenceClassFileWithInheritance/SimpleModelTwoOverride.php
  testData/actions/generation/generator/PreferenceDiXmlGenerator/addTwoPreferencesToOneDiXmlFile/di.xml
  testData/actions/generation/generator/PreferenceDiXmlGenerator/generatePreferenceDiXml/di.xml
  testData/actions/generation/generator/PreferenceDiXmlGenerator/generatePreferenceDiXmlForAdminhtmlArea/di.xml
  testData/project/magento2/app/code/Foo/Bar/Model/SimpleModelOne.php
  testData/project/magento2/app/code/Foo/Bar/Model/SimpleModelTwo.php
  tests/com/magento/idea/magento2plugin/actions/generation/generator/PreferenceClassGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/PreferenceDiXmlGeneratorTest.java
Labels: Award: special achievement, Award: test coverage, Partner: Atwix, partners-contribution

#245 243 adjusted Magento root validation
  gradle-tasks/pmd/ruleset.xml
  src/com/magento/idea/magento2plugin/actions/generation/NewModuleAction.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/CreateAPluginDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/CreateAnObserverDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewBlockDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewGraphQlResolverDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewModuleDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewViewModelDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/OverrideClassByAPreferenceDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/CLICommandDiXmlGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/ModuleBlockClassGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/ModuleViewModelClassGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/ModuleXmlGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/ObserverClassGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/ObserverEventsXmlGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/PluginDiXmlGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/PreferenceDiXmlGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/code/PluginMethodsGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/code/util/ConvertPluginParamsToPhpDocStringUtil.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/code/util/ConvertPluginParamsToString.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/util/DirectoryGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/util/FindOrCreateCrontabXml.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/util/FindOrCreateDiXml.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/util/FindOrCreateEventsXml.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/util/NamespaceBuilder.java
  src/com/magento/idea/magento2plugin/generation/php/NewModuleForm.java
  src/com/magento/idea/magento2plugin/indexes/ModuleIndex.java
  src/com/magento/idea/magento2plugin/inspections/php/PluginInspection.java
  src/com/magento/idea/magento2plugin/inspections/xml/ObserverDeclarationInspection.java
  src/com/magento/idea/magento2plugin/inspections/xml/PluginDeclarationInspection.java
  src/com/magento/idea/magento2plugin/magento/files/Observer.java
  src/com/magento/idea/magento2plugin/magento/packages/Areas.java
  src/com/magento/idea/magento2plugin/magento/packages/Licenses.java
  src/com/magento/idea/magento2plugin/magento/packages/MagentoPhpClass.java
  src/com/magento/idea/magento2plugin/magento/packages/Package.java
  src/com/magento/idea/magento2plugin/project/ProjectDetector.java
  src/com/magento/idea/magento2plugin/project/RegenerateUrnMapListener.java
  src/com/magento/idea/magento2plugin/project/SettingsForm.form
  src/com/magento/idea/magento2plugin/project/SettingsForm.java
  src/com/magento/idea/magento2plugin/stubs/indexes/js/MagentoLibJsIndex.java
  src/com/magento/idea/magento2plugin/util/magento/FileBasedIndexUtil.java
  src/com/magento/idea/magento2plugin/util/magento/MagentoBasePathUtil.java
  src/com/magento/idea/magento2plugin/util/magento/MagentoVersion.java
  src/com/magento/idea/magento2plugin/util/magento/graphql/GraphQlUtil.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/CLICommandDiXmlGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/ModuleXmlGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/ObserverEventsXmlGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/PluginDiXmlGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/PreferenceDiXmlGeneratorTest.java
  tests/com/magento/idea/magento2plugin/inspections/xml/PluginDeclarationInspectionTest.java
Labels: Award: complex, Award: special achievement, Partner: Atwix, Progress: review, partners-contribution

#248 Added test coverage for plugin type attribute, added checkstyle suppression mechanism
  gradle-tasks/checkstyle/checkstyle.xml
  src/com/magento/idea/magento2plugin/completion/xml/XmlCompletionContributor.java
  src/com/magento/idea/magento2plugin/reference/xml/XmlReferenceContributor.java
  testData/completion/xml/PluginTypeCompletionRegistrar/pluginTypeMustHaveCompletion/di.xml
  testData/reference/xml/PluginTypeReferenceRegistrar/pluginTypeMustHaveReference/di.xml
  tests/com/magento/idea/magento2plugin/completion/xml/PluginTypeCompletionRegistrarTest.java
  tests/com/magento/idea/magento2plugin/reference/xml/PluginTypeReferenceRegistrarTest.java
Labels: Award: test coverage, Partner: Atwix, approved, partners-contribution

#249 Added test coverage for the layout update handle
  testData/completion/xml/LayoutUpdateHandleCompletionRegistrar/updateHandleMustHaveCompletion/test_test_test.xml
  testData/project/magento2/vendor/magento/module-catalog/view/frontend/layout/test_index_index2.xml
  testData/reference/xml/LayoutUpdateHandleReferenceRegistrar/layoutUpdateHandleMustHaveReference/test_test_test.xml
  tests/com/magento/idea/magento2plugin/completion/xml/LayoutUpdateHandleCompletionRegistrarTest.java
  tests/com/magento/idea/magento2plugin/reference/xml/LayoutUpdateHandleReferenceRegistrarTest.java
Labels: Award: test coverage, Partner: Atwix, Progress: approved, partners-contribution

#250 Covered CrontabXmlGenerator by tests
  testData/actions/generation/generator/CrontabXmlGenerator/addTwoCronJobsToDifferentCronTabs/crontab.xml
  testData/actions/generation/generator/CrontabXmlGenerator/addTwoCronJobsToOneCronTab/crontab.xml
  testData/actions/generation/generator/CrontabXmlGenerator/generateCronTabXmlFileWithSchedule/crontab.xml
  testData/actions/generation/generator/CrontabXmlGenerator/generateCronTabXmlFileWithScheduleConfig/crontab.xml
  tests/com/magento/idea/magento2plugin/actions/generation/generator/CrontabXmlGeneratorTest.java
Labels: Award: test coverage, Partner: Atwix, Progress: approved, partners-contribution

#251 #issue-178 Add CRON Group Generation action
  resources/META-INF/plugin.xml
  resources/fileTemplates/code/Magento Module Cron Group Xml.xml.ft
  resources/fileTemplates/code/Magento Module Cron Group Xml.xml.html
  resources/fileTemplates/internal/Magento Module Cron Groups Xml.xml.ft
  resources/fileTemplates/internal/Magento Module Cron Groups Xml.xml.html
  resources/magento2/common.properties
  resources/magento2/validation.properties
  src/com/magento/idea/magento2plugin/actions/generation/NewCronGroupAction.java
  src/com/magento/idea/magento2plugin/actions/generation/data/CronGroupXmlData.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewCronGroupDialog.form
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewCronGroupDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/validator/NewCronGroupValidator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/ModuleCronGroupXmlGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/util/FindOrCreateCronGroupXml.java
  src/com/magento/idea/magento2plugin/magento/files/CronGroupXmlTemplate.java
  testData/actions/generation/generator/ModuleCronGroupXmlGenerator/addTwoCronGroupsToCronGroupsXmlFile/cron_groups.xml
  testData/actions/generation/generator/ModuleCronGroupXmlGenerator/generateCronGroupWithAllOptions/cron_groups.xml
  testData/actions/generation/generator/ModuleCronGroupXmlGenerator/generateEmptyCronGroup/cron_groups.xml
  tests/com/magento/idea/magento2plugin/actions/generation/generator/ModuleCronGroupXmlGeneratorTest.java
Labels: Award: complex, Award: test coverage, Partner: Atwix, Progress: approved, QA passed, partners-contribution

#253 Implemented inspections for module name declaration in registration.php and module.xml
  resources/META-INF/plugin.xml
  resources/inspectionDescriptions/ModuleDeclarationInModuleXmlInspection.html
  resources/inspectionDescriptions/ModuleDeclarationInRegistrationPhpInspection.html
  resources/magento2/inspection.properties
  src/com/magento/idea/magento2plugin/inspections/php/ModuleDeclarationInRegistrationPhpInspection.java
  src/com/magento/idea/magento2plugin/inspections/php/fix/PhpModuleNameQuickFix.java
  src/com/magento/idea/magento2plugin/inspections/util/GetEditableModuleNameByRootFileUtil.java
  src/com/magento/idea/magento2plugin/inspections/xml/ModuleDeclarationInModuleXmlInspection.java
  src/com/magento/idea/magento2plugin/inspections/xml/fix/XmlModuleNameQuickFix.java
  src/com/magento/idea/magento2plugin/util/magento/IsFileInEditableModuleUtil.java
  testData/inspections/php/ModuleDeclarationInRegistrationPhpInspection/wrongDeclarationInEditableModule/app/code/Test/TestModule/registration.php
  testData/inspections/php/ModuleDeclarationInRegistrationPhpInspection/wrongDeclarationInRoot/registration.php
  testData/inspections/php/ModuleDeclarationInRegistrationPhpInspection/wrongDeclarationInVendor/vendor/magento/module-catalog/registration.php
  testData/inspections/xml/ModuleDeclarationInModuleXmlInspection/subTagShouldNotBeHighlightedInEditableModule/app/code/Test/TestModule/etc/module.xml
  testData/inspections/xml/ModuleDeclarationInModuleXmlInspection/wrongDeclarationInEditableModule/app/code/Test/TestModule/etc/module.xml
  testData/inspections/xml/ModuleDeclarationInModuleXmlInspection/wrongDeclarationInRoot/etc/module.xml
  testData/inspections/xml/ModuleDeclarationInModuleXmlInspection/wrongDeclarationInVendor/vendor/magento/module-catalog/etc/module.xml
  tests/com/magento/idea/magento2plugin/inspections/php/ModuleDeclarationInRegistrationPhpInspectionTest.java
  tests/com/magento/idea/magento2plugin/inspections/xml/ModuleDeclarationInModuleXmlInspectionTest.java
Labels: Award: complex, Award: test coverage, Partner: Atwix, Progress: approved, QA passed, partners-contribution

#254 Initial PR for 1.0.2
  .github/workflows/gradle.yml
  build.gradle
  resources/META-INF/plugin.xml
Labels: Partner: Atwix, Progress: approved, partners-contribution

#257 252 fixed null pointer issue
  CHANGELOG.md
  resources/META-INF/pluginIcon.svg
  resources/META-INF/pluginIcon_dark.svg
  src/com/magento/idea/magento2plugin/actions/generation/NewModuleAction.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewBlockDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewCLICommandDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewControllerDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewCronGroupDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewCronjobDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewGraphQlResolverDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewViewModelDialog.java
  src/com/magento/idea/magento2plugin/actions/groups/NewModuleFileGroup.java
  src/com/magento/idea/magento2plugin/icons/webapi_reference.png
  src/com/magento/idea/magento2plugin/icons/webapi_reference@2x.png
  src/com/magento/idea/magento2plugin/icons/xml_reference.png
  src/com/magento/idea/magento2plugin/icons/xml_reference@2x.png
  src/com/magento/idea/magento2plugin/inspections/xml/PluginDeclarationInspection.java
  src/com/magento/idea/magento2plugin/util/magento/GetModuleNameByDirectory.java
  src/com/magento/idea/magento2plugin/util/magento/GetModuleNameByDirectoryUtil.java
Labels: Award: bug fix, Award: category of expertise, Partner: Atwix, Progress: approved, partners-contribution
