Repository magento/magento2-phpstorm-plugin, pull requests merged in 2021-06, with the labels that each got.

#597 Entity Web API generation
  resources/fileTemplates/internal/Magento Entity Delete Controller Class.php.ft
  src/com/magento/idea/magento2plugin/actions/generation/data/DeleteEntityByIdCommandData.java
  src/com/magento/idea/magento2plugin/actions/generation/data/DeleteEntityControllerFileData.java
  src/com/magento/idea/magento2plugin/actions/generation/data/EntityDataMapperData.java
  src/com/magento/idea/magento2plugin/actions/generation/data/GetListQueryModelData.java
  src/com/magento/idea/magento2plugin/actions/generation/data/SaveEntityCommandData.java
  src/com/magento/idea/magento2plugin/actions/generation/data/SaveEntityControllerFileData.java
  src/com/magento/idea/magento2plugin/actions/generation/data/UiComponentDataProviderData.java
  src/com/magento/idea/magento2plugin/actions/generation/data/converter/newentitydialog/DataProviderDtoConverter.java
  src/com/magento/idea/magento2plugin/actions/generation/data/converter/newentitydialog/DeleteEntityByIdCommandDtoConverter.java
  src/com/magento/idea/magento2plugin/actions/generation/data/converter/newentitydialog/FormDeleteControllerDtoConverter.java
  src/com/magento/idea/magento2plugin/actions/generation/data/converter/newentitydialog/FormSaveControllerDtoConverter.java
  src/com/magento/idea/magento2plugin/actions/generation/data/converter/newentitydialog/GetListQueryDtoConverter.java
  src/com/magento/idea/magento2plugin/actions/generation/data/converter/newentitydialog/SaveEntityCommandDtoConverter.java
  src/com/magento/idea/magento2plugin/actions/generation/data/dialog/EntityCreatorContextData.java
  src/com/magento/idea/magento2plugin/actions/generation/data/dialog/NewEntityDialogData.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewEntityDialog.form
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewEntityDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewInterfaceForServiceDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/DeleteEntityControllerFileGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/EntityDataMapperGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/PhpFileGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/SaveEntityControllerFileGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/UiComponentDataProviderGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/php/WebApiInterfaceGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/php/WebApiInterfaceWithDeclarationGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/pool/GeneratorHandler.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/pool/handler/DeleteByIdCommandGeneratorHandler.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/pool/handler/GetListQueryGeneratorHandler.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/pool/handler/SaveCommandGeneratorHandler.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/pool/provider/NewEntityGeneratorsProviderUtil.java
  src/com/magento/idea/magento2plugin/magento/files/commands/DeleteEntityByIdCommandFile.java
  src/com/magento/idea/magento2plugin/magento/files/commands/SaveEntityCommandFile.java
  src/com/magento/idea/magento2plugin/magento/files/queries/GetListQueryFile.java
  src/com/magento/idea/magento2plugin/util/php/PhpTypeMetadataParserUtil.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/DeleteEntityCommandGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/DeleteEntityGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/QueryModelGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/SaveEntityActionGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/SaveEntityCommandGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/UiComponentGridDataProviderGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/pool/NewEntityGeneratorPoolTest.java
Labels: Award: special achievement, Award: test coverage, Partner: Atwix, Progress: approved, partners-contribution

#599 Autofocus on a field for all existent dialogs
  src/com/magento/idea/magento2plugin/actions/generation/dialog/AbstractDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/CreateAPluginDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/CreateAnObserverDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/InjectAViewModelDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewBlockDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewCLICommandDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewControllerDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewCronGroupDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewCronjobDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewDataModelDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewDbSchemaDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewEmailTemplateDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewGraphQlResolverDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewInterfaceForServiceDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewMessageQueueDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewModelsDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewModuleDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewUiComponentFormDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewUiComponentGridDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewViewModelDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewWebApiDeclarationDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/OverrideClassByAPreferenceDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/OverrideInThemeDialog.java
Labels: Award: special achievement, Partner: Atwix, Progress: approved, QA passed, partners-contribution

#606 Used a constant in all places where entity id was used as hardcoded value
  resources/fileTemplates/internal/Magento Delete Entity By Id Command.php.ft
  resources/fileTemplates/internal/Magento Entity Delete Controller Class.php.ft
  resources/fileTemplates/internal/Magento Entity Save Controller Class.php.ft
  resources/fileTemplates/internal/Magento Grid Ui Component Action Column Class.php.ft
  resources/fileTemplates/internal/Magento PHP Form Generic Button Block Class.php.ft
  resources/fileTemplates/internal/Magento Resource Model Class.php.ft
  resources/fileTemplates/internal/Magento Save Entity Command Model.php.ft
  resources/fileTemplates/internal/Magento UI Component Custom Data Provider Class.php.ft
  src/com/magento/idea/magento2plugin/actions/generation/context/EntityCreatorContext.java
  src/com/magento/idea/magento2plugin/actions/generation/context/GenerationContext.java
  src/com/magento/idea/magento2plugin/actions/generation/data/SaveEntityCommandData.java
  src/com/magento/idea/magento2plugin/actions/generation/data/converter/newentitydialog/SaveEntityCommandDtoConverter.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewEntityDialog.java
  src/com/magento/idea/magento2plugin/actions/generation/dialog/util/ClassPropertyFormatterUtil.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/DeleteEntityByIdCommandGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/DeleteEntityControllerFileGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/FormGenericButtonBlockGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/GridActionColumnFileGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/ModuleResourceModelGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/SaveEntityCommandGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/SaveEntityControllerFileGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/UiComponentDataProviderGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/generator/UiComponentFormButtonBlockGenerator.java
  src/com/magento/idea/magento2plugin/actions/generation/util/GenerationContextRegistry.java
  src/com/magento/idea/magento2plugin/magento/packages/UiFormButtonTypeSettings.java
  testData/actions/generation/generator/DeleteEntityCommandGenerator/generateDeleteEntityByIdCommandFile/DeleteByIdCommand.php
  testData/actions/generation/generator/DeleteEntityGenerator/generateDeleteEntityFile/Delete.php
  testData/actions/generation/generator/FormButtonBlockGenerator/generateDeleteButtonBlock/DeleteBlock.php
  testData/actions/generation/generator/FormGenericButtonBlockGenerator/generateFormGenericButtonBlockFile/GenericButton.php
  testData/actions/generation/generator/GridActionColumnFileGenerator/generateGridActionColumnFile/BookBlockActions.php
  testData/actions/generation/generator/ModuleResourceModelGenerator/generateFileWithDtoReference/TestResourceModel.php
  testData/actions/generation/generator/SaveEntityActionGenerator/generateSaveEntityActionWithInterfaceFile/Save.php
  testData/actions/generation/generator/SaveEntityActionGenerator/generateSaveEntityActionWithoutInterfaceFile/Save.php
  testData/actions/generation/generator/SaveEntityCommandGenerator/generateSaveEntityCommandFile/SaveCommand.php
  testData/actions/generation/generator/UiComponentGridDataProviderGenerator/generateDataProviderWithInjectedGetListQuery/GridDataProvider.php
  tests/com/magento/idea/magento2plugin/actions/generation/generator/DeleteEntityCommandGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/DeleteEntityGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/FormButtonBlockGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/FormGenericButtonBlockGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/GridActionColumnFileGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/ModuleResourceModelGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/SaveEntityActionGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/SaveEntityCommandGeneratorTest.java
  tests/com/magento/idea/magento2plugin/actions/generation/generator/UiComponentGridDataProviderGeneratorTest.java
Labels: Award: special achievement, Award: test coverage, Partner: Atwix, Progress: approved, QA passed, partners-contribution

#595 Added resource to web API dialog form
  src/com/magento/idea/magento2plugin/actions/generation/dialog/NewWebApiDeclarationDialog.java
Labels: Partner: Atwix, Progress: approved, QA passed, partners-contribution
